<div class="footer">
  <div class="inner">

    <div class="bottom">
      <div class="row">

        <div class="col-sm-12">
          <div class="copyright">
            <!-- <img src="assets/images/mediatec.png" rel="noopener noreferrer" alt="Mediatec Software" /> -->
            <span>
              © 2020
              <a href="https://www.hlc-app.co.za/" target="_blank" rel="noopener noreferrer">
                Hospital Liaison Committe
              </a>
              <br />
              All rights reserved
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
